.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/**
.trunk/**
test-workspace/**
CLAUDE.md
pnpm-lock.yaml
pnpm-workspace.yaml
.npmrc
scripts/**
